<html lang="en">
<head>
	<title>Dynamic Dependent Dropdown with Vue JS and PHP - ItSolutionStuff.com</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
		crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="myApp">

		<div class="container">
			<h3>Dynamic Dependent Dropdown with Vue JS </h3>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<select class='form-control' v-model='select1' @change="refreshPieChart($event)">
							<option value="0">Select</option>
							<option v-for='option in optionList1' :value='option.VALEUR'>qq{{ option.LIBELLE }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<select class='form-control' v-model='select2'  @change="refreshBarChart($event)">
							<option value='0'>Select country</option>
							<option v-for='option in optionList2' :value='option.VALEUR'>{{ option.LIBELLE }}</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<select class='form-control' v-model='select3' @change="refreshStack1Chart($event)">
							<option value='0'>Select country</option>
							<option v-for='option in optionList3' :value='option.VALEUR'>{{ option.LIBELLE }}</option>
						</select>
					</div>
				</div>
			</div>		
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Pie Chart</h1>
					<pie-chart v-bind:keylist="pieChartData.keylist" v-bind:valuelist="pieChartData.valuelist"></pie-chart>
				</div>
				<div class="col-md-6">
					<h1>Bar Chart</h1>
					<bar-chart v-bind:keylist="barChartData.keylist" v-bind:valuelist="barChartData.valuelist"> </bar-chart>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<h1>Stack Chart1</h1>
					<stack1-chart v-bind:keylist="stack1ChartData.keylist" v-bind:valuelist="stack1ChartData.valuelist"></stack1-chart>
				</div>
				<div class="col-md-6">
					<h1>Stack Chart2</h1>
					<stack2-chart></stack2-chart>
				</div>
			</div>
		</div>
		
	</div>
	<script src="function.js"></script>
</body>
<script>
</script>
</html>