<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
		crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id = "myApp">
      <table>
        <tr v-for="outputs in output">
          <td >
            {{ outputs.ACTUALISATION }}
          </td>
        </tr>
      </table>
    </div>
    <div>
      <h1>Success</h1>
    </div>
    <script>
             var myapp = new Vue({
                     el: '#myApp',
                     mounted() {
                         console.log('Component mounted.')
                         this.display();
                     },
                     data() {
                         return {
                         name: '',
                         description: '',
                         output: ''
                         };
                     },
                     methods: {
                         display() {
                             let currentObj = this;
                             axios.post('https://827041f5-fbbb-43fd-a419-58cd8b6e55ea.mock.pstmn.io/getdetail'+'?dr=01500')
                             .then(function (response) {
                                 currentObj.output = response.data;
                                 console.log( currentObj.output);

                             })
                             .catch(function (error) {
                                 currentObj.output = error;
                             });
                         }
                     }
         })
</script>
</body>
</html>